<div id="dashboard">
    <div class="card shadow-sm rounded" *ngIf="(sysmon | async) === true">
        <h5 class="card-header">{{ 'dashboard.system' | translate }}</h5>
        <ui-sysmonitor-plugin>
            <ng-template sysMonContent let-entries="entries">
                <div class="card-body" *ngIf="isEmpty(entries)">
                    <strong>{{ 'general.loading' | translate }}</strong>
                </div>

                <div class="card-body" *ngIf="!isEmpty(entries)">
                    <div class="d-flex flex-wrap align-content-center justify-content-between align-items-center">
                        <div *ngIf="entries['cpu-load']"
                            class="d-inline-flex flex-column justify-content-center align-items-center">
                            <ui-gauge [i18nPrefix]="'plugin.sysmonitor.'" [name]="'cpu-load'"
                                [attrib]="entries['cpu-load']">
                            </ui-gauge>
                            <label for="cpu-load">{{ 'plugin.sysmonitor.cpu-load' | translate }}</label>
                        </div>

                        <div *ngIf="entries['cpu-temp']"
                            class="d-inline-flex flex-column justify-content-center align-items-center">
                            <ui-gauge [i18nPrefix]="'plugin.sysmonitor.'" [name]="'cpu-temp'"
                                [attrib]="entries['cpu-temp']" [max]="120">
                            </ui-gauge>
                            <label for="cpu-temp">{{ 'plugin.sysmonitor.cpu-temp' | translate }}</label>
                        </div>

                        <div *ngIf="entries['mem-available']"
                            class="d-inline-flex flex-column justify-content-center align-items-center">
                            <ui-gauge [i18nPrefix]="'plugin.sysmonitor.'" [name]="'memory'"
                                [attrib]="entries['mem-available']" [max]="entries['mem-total']?.value">
                            </ui-gauge>
                            <label for="memory">{{ 'plugin.sysmonitor.memory' | translate }}</label>
                        </div>

                        <div *ngIf="entries['swap-used']"
                            class="d-inline-flex flex-column justify-content-center align-items-center">
                            <ui-gauge [i18nPrefix]="'plugin.sysmonitor.'" [name]="'swap'"
                                [attrib]="entries['swap-used']" [max]="entries['swap-total']?.value">
                            </ui-gauge>
                            <label for="swap">{{ 'plugin.sysmonitor.swap' | translate }}</label>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ui-sysmonitor-plugin>
    </div>

    <div class="card mt-3 shadow-sm rounded" *ngIf="(nvmon | async) === true">
        <h5 class="card-header">{{ 'dashboard.hwaccels' | translate }}</h5>
        <ui-nvmonitor-plugin>
            <ng-template nvMonContent let-entries="entries">
                <div class="card-body" *ngIf="isEmpty(entries)">
                    <strong>{{ 'general.loading' | translate }}</strong>
                </div>

                <div class="card-body" *ngFor="let e of entries; let i = index; trackBy: trackByGPU" [id]="'gpu-' + i">
                    <h6 class="card-subtitle mb-2 text-muted">
                        {{ this.hwaccels[i]?.name || ('dashboard.gpu' | translate:{index: i}) }}
                        <span *ngIf="e['pclk']" [title]="'dashboard.nvmonitor.pclk' | translate">@ <i
                                class="fas fa-microchip"></i> {{ e['pclk'].value }}
                            {{ e['pclk'].unit }}</span>
                        <span *ngIf="e['mclk']" class="ml-2" [title]="'dashboard.nvmonitor.mclk' | translate"><i
                                class="fas fa-memory"></i> {{ e['mclk'].value }}
                            {{ e['mclk'].unit }}</span>
                    </h6>
                    <div class="d-flex flex-wrap align-content-center justify-content-between align-items-center">
                        <div *ngIf="e['enc']"
                            class="d-inline-flex flex-column justify-content-center align-items-center">
                            <ui-gauge [i18nPrefix]="'plugin.nvmonitor.'" [index]="i" [name]="'encoder'"
                                [attrib]="e['enc']">
                            </ui-gauge>
                            <label for="encoder">{{ 'dashboard.nvmonitor.encoder' | translate }}</label>
                        </div>

                        <div *ngIf="e['dec']"
                            class="d-inline-flex flex-column justify-content-center align-items-center">
                            <ui-gauge [i18nPrefix]="'plugin.nvmonitor.'" [index]="i" [name]="'decoder'"
                                [attrib]="e['dec']">
                            </ui-gauge>
                            <label for="decoder">{{ 'dashboard.nvmonitor.decoder' | translate }}</label>
                        </div>

                        <div *ngIf="e['mem']"
                            class="d-inline-flex flex-column justify-content-center align-items-center">
                            <ui-gauge [i18nPrefix]="'plugin.nvmonitor.'" [index]="i" [name]="'memory'"
                                [attrib]="e['mem']">
                            </ui-gauge>
                            <label for="memory">{{ 'dashboard.nvmonitor.memory' | translate }}</label>
                        </div>

                        <div *ngIf="e['temp']"
                            class="d-inline-flex flex-column justify-content-center align-items-center">
                            <ui-gauge [i18nPrefix]="'plugin.nvmonitor.'" [index]="i" [name]="'temperature'"
                                [attrib]="e['temp']" [max]="120">
                            </ui-gauge>
                            <label for="temperature">{{ 'dashboard.nvmonitor.temperature' | translate }}</label>
                        </div>

                        <div *ngIf="e['pwr']"
                            class="d-inline-flex flex-column justify-content-center align-items-center">
                            <ui-gauge [i18nPrefix]="'plugin.nvmonitor.'" [index]="i" [name]="'power'"
                                [attrib]="e['pwr']" [max]="maxValue('pwr', e['pwr'].value, 250)">
                            </ui-gauge>
                            <label for="power">{{ 'dashboard.nvmonitor.power' | translate }}</label>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ui-nvmonitor-plugin>
    </div>
</div>