<div id="dashboard">
    <ui-sysmonitor-plugin>
        <ng-template sysMonContent (entries)="onSystemMonitorEntries($event)">
            <div class="card shadow-sm rounded">
                <h5 class="card-header">{{ 'dashboard.system' | translate }}</h5>
                <div class="card-body">
                    @if (isEmpty(sysmon)) {
                        <strong>{{ 'general.loading' | translate }}</strong>
                    } @else {
                        <div class="d-flex flex-wrap align-content-center justify-content-between align-items-center">
                            @if (sysmon['cpu-load']) {
                                <div class="d-inline-flex flex-column justify-content-center align-items-center">
                                    <ui-gauge [i18nPrefix]="'plugin.sysmonitor.'" [name]="'cpu-load'"
                                              [attrib]="sysmon['cpu-load']">
                                    </ui-gauge>
                                    <label for="cpu-load">{{ 'plugin.sysmonitor.cpu-load' | translate }}</label>
                                </div>
                            }

                            @if (sysmon['cpu-temp']) {
                                <div class="d-inline-flex flex-column justify-content-center align-items-center">
                                    <ui-gauge [i18nPrefix]="'plugin.sysmonitor.'" [name]="'cpu-temp'"
                                              [attrib]="sysmon['cpu-temp']" [max]="120">
                                    </ui-gauge>
                                    <label for="cpu-temp">{{ 'plugin.sysmonitor.cpu-temp' | translate }}</label>
                                </div>
                            }

                            @if (sysmon['mem-available']) {
                                <div class="d-inline-flex flex-column justify-content-center align-items-center">
                                    <ui-gauge [i18nPrefix]="'plugin.sysmonitor.'" [name]="'memory'"
                                              [attrib]="sysmon['mem-available']" [max]="sysmon['mem-total']?.value"
                                              [negate]="true">
                                    </ui-gauge>
                                    <label for="memory">{{ 'plugin.sysmonitor.memory' | translate }}</label>
                                </div>
                            }

                            @if (sysmon['swap-used']) {
                                <div class="d-inline-flex flex-column justify-content-center align-items-center">
                                    <ui-gauge [i18nPrefix]="'plugin.sysmonitor.'" [name]="'swap'"
                                              [attrib]="sysmon['swap-used']"
                                              [max]="sysmon['swap-total']?.value">
                                    </ui-gauge>
                                    <label for="swap">{{ 'plugin.sysmonitor.swap' | translate }}</label>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </ng-template>
    </ui-sysmonitor-plugin>

    <ui-nvmonitor-plugin>
        <ng-template nvMonContent (entries)="onNVMonitorEntries($event)">
            <div class="card mt-3 shadow-sm rounded">
                <h5 class="card-header">{{ 'dashboard.hwaccels' | translate }}</h5>
                @if (isEmpty(nvmon)) {
                    <div class="card-body">
                        <strong>{{ 'general.loading' | translate }}</strong>
                    </div>
                } @else {
                    @for (e of nvmon; track trackByGPU; let i = $index) {
                        <div class="card-body" [id]="'gpu-' + i">
                            <h6 class="card-subtitle mb-2 text-muted">
                                {{ this.hwaccels[i]?.name || ('dashboard.gpu' | translate:{index: i}) }}
                                @if (e['pclk']) {
                                    <span [title]="'dashboard.nvmonitor.pclk' | translate">&#64; <i
                                            class="fas fa-microchip"></i> {{ e['pclk'].value }}
                                        {{ e['pclk'].unit }}</span>
                                }
                                @if (e['mclk']) {
                                    <span class="ms-2" [title]="'dashboard.nvmonitor.mclk' | translate"><i
                                            class="fas fa-memory"></i> {{ e['mclk'].value }}
                                        {{ e['mclk'].unit }}</span>
                                }
                            </h6>
                            <div class="d-flex flex-wrap align-content-center justify-content-between align-items-center">
                                @if (e['enc']) {
                                    <div class="d-inline-flex flex-column justify-content-center align-items-center">
                                        <ui-gauge [i18nPrefix]="'plugin.nvmonitor.'" [index]="i" [name]="'encoder'"
                                                  [attrib]="e['enc']">
                                        </ui-gauge>
                                        <label for="encoder">{{ 'dashboard.nvmonitor.encoder' | translate }}</label>
                                    </div>
                                }

                                @if (e['dec']) {
                                    <div class="d-inline-flex flex-column justify-content-center align-items-center">
                                        <ui-gauge [i18nPrefix]="'plugin.nvmonitor.'" [index]="i" [name]="'decoder'"
                                                  [attrib]="e['dec']">
                                        </ui-gauge>
                                        <label for="decoder">{{ 'dashboard.nvmonitor.decoder' | translate }}</label>
                                    </div>
                                }

                                @if (e['mem']) {
                                    <div class="d-inline-flex flex-column justify-content-center align-items-center">
                                        <ui-gauge [i18nPrefix]="'plugin.nvmonitor.'" [index]="i" [name]="'memory'"
                                                  [attrib]="e['mem']">
                                        </ui-gauge>
                                        <label for="memory">{{ 'dashboard.nvmonitor.memory' | translate }}</label>
                                    </div>
                                }

                                @if (e['temp'] || e['gtemp']) {
                                    <div class="d-inline-flex flex-column justify-content-center align-items-center">
                                        <ui-gauge [i18nPrefix]="'plugin.nvmonitor.'" [index]="i" [name]="'temperature'"
                                                  [attrib]="e['temp'] || e['gtemp']" [max]="120">
                                        </ui-gauge>
                                        <label for="temperature">{{ 'dashboard.nvmonitor.temperature' | translate }}</label>
                                    </div>
                                }

                                @if (e['pwr']) {
                                    <div class="d-inline-flex flex-column justify-content-center align-items-center">
                                        <ui-gauge [i18nPrefix]="'plugin.nvmonitor.'" [index]="i" [name]="'power'"
                                                  [attrib]="e['pwr']" [max]="maxValue('pwr', e['pwr'].value, 75)">
                                        </ui-gauge>
                                        <label for="power">{{ 'dashboard.nvmonitor.power' | translate }}</label>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                }
            </div>
        </ng-template>
    </ui-nvmonitor-plugin>
</div>
