/.angular/cache
/target/
/.settings/
/.classpath
/.project
/node_modules/
/.vscode/
/package-lock.json
/pom.xml.bak
/.idea/.gitignore
/.idea/aws.xml
/.idea/compiler.xml
/.idea/jpa-buddy.xml
/.idea/misc.xml
/.idea/modules.xml
/myvidcore.iml
/.idea/vcs.xml
/.idea/
