<div class="wrapper">
    <nav id="sidebar" #sidebar>
        <ul class="list-unstyled components">
            @for (r of routes; track r) {
                @if ((r.roles && ($auth.isAllowed(r.roles) | async) || false) || !r.roles) {
                    @if (!r.items) {
                        <li uiSrefActive="active">
                            <a [id]="refId(r)" [uiSref]="r.ref">
                                @if (r.icon) {
                                    <i [ngClass]="r.icon"></i>
                                } {{ r.i18n | translate }}
                            </a>
                        </li>
                    } @else {
                        <ng-container
                                *ngTemplateOutlet="routeMenuTemplate;context:{allowed: (anyAllowed(r.items) | async) || false}">
                        </ng-container>
                        <ng-template #routeMenuTemplate let-allowed="allowed">
                            @if (!allowed && r.ref) {
                                <li uiSrefActive="active">
                                    <a [id]="refId(r)" [uiSref]="r.ref">
                                        @if (r.icon) {
                                            <i [ngClass]="r.icon"></i>
                                        } {{ r.i18n | translate }}
                                    </a>
                                </li>
                            }

                            @if (allowed) {
                                <li>
                                    <a [href]="'#'+ refId(r)" data-bs-toggle="collapse" aria-expanded="false">
                                        @if (r.icon) {
                                            <i [ngClass]="r.icon"></i>
                                        } {{ r.i18n | translate }}
                                    </a>
                                    <ul class="collapse list-unstyled" [id]="refId(r)"
                                        [attr.aria-labelledby]="refId(r)">
                                        @for (i of r.items; track i) {
                                            <ng-container
                                                    *ngTemplateOutlet="routeItemTemplate;context:{item: i}"></ng-container>
                                        }
                                    </ul>

                                    <ng-template #routeItemTemplate let-item="item">
                                        @if ((item.roles && ($auth.isAllowed(item.roles) | async) || false) || !item.roles) {
                                            @if ((item.flag && Flags.DIVIDER) == Flags.DIVIDER) {
                                            } @else {
                                                <li>
                                                    @if ((item.flag && Flags.ACTIVE_EQ) == Flags.ACTIVE_EQ) {
                                                        <a uiSrefActiveEq="active" [id]="refId(item)"
                                                           [uiSref]="item.ref">
                                                            @if (r.icon) {
                                                                <i [ngClass]="r.icon"></i>
                                                            } {{ item.i18n | translate }}
                                                        </a>
                                                    } @else {
                                                        <a uiSrefActive="active" [id]="refId(item)" [uiSref]="item.ref">
                                                            @if (r.icon) {
                                                                <i [ngClass]="r.icon"></i>
                                                            } {{ item.i18n | translate }}
                                                        </a>
                                                    }
                                                </li>
                                            }
                                        }
                                    </ng-template>
                                </li>
                            }
                        </ng-template>
                    }
                }
            }
        </ul>
    </nav>

    <div id="content" #content>
        <header id="header" class="navbar navbar-dark fixed-top scrolling-navbar" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-logo" uiSref="dashboard"><span class="fa fa-film"></span> MyVidCoRe</a>
                </div>
                <div class="navbar-right">
                    <button type="button" class="navbar-toggler" (click)="toggleSidebar()" aria-controls="sidebar"
                            aria-expanded="true" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <ui-nvmonitor-plugin></ui-nvmonitor-plugin>
                    <ui-sysmonitor-plugin></ui-sysmonitor-plugin>
                </div>
            </div>
        </header>

        <ui-breadcrumb></ui-breadcrumb>

        <ui-spinner></ui-spinner>
        <ui-view class="w-100"></ui-view>
    </div>
</div>
