// GLOBAL STYLES
//--------------------------------------------------

// Bootstrap - Panel
.panel-default {
  border: 1px solid @panel-default-border;
  border-radius: 2px;
  .box-shadow (~"0 1px 1px rgba(0, 0, 0, 0.05)");
  .panel-heading {
    background-color: @panel-default-heading-bg;
    .border-top-radius (2px);
    .box-shadow (~"0 -2px 0 rgba(0, 0, 0, 0.05) inset");
    border-bottom: 1px solid @panel-default-border;
    color: #333333;
  }

  .panel-footer {
    background-color: #ffffff;
    .border-bottom-radius (2px);
    border-top: 1px solid @panel-default-border;
  }
}

// Bootstrap callout
.alert , .bs-callout {
  border: 0;
  border-left: 3px solid #EEEEEE;
  border-radius: 2px;
  margin: 20px 0;
  padding: 20px;
  h4 {
    margin-bottom: 5px;
    margin-top: 0;
  }

  &.alert-dismissable , &.alert-dismissible {
    padding-right: 35px;
    .close {
      color: inherit;
      position: relative;
      right: -21px;
      top: -2px;
    }
  }
}

.alert-info , .bs-callout-info {
  background-color: #F4F8FA;
  border-color: #5BC0DE;
  h4 {
    color: #5BC0DE;
  }
}

.alert-warning , .bs-callout-warning {
  background-color: #FCF8F2;
  border-color: #F0AD4E;
  h4 {
    color: #F0AD4E;
  }
}

.alert-danger , .bs-callout-danger {
  background-color: #FDF7F7;
  border-color: #D9534F;
  h4 {
    color: #D9534F;
  }
}

.alert-success , .bs-callout-success {
  background-color: #dff0d8;
  border-color: #298703;
  h4 {
    color: #298703;
  }
}

.bs-callout + .bs-callout , .alert + .alert {
  margin-top: -5px;
}

// Global add-ons
.no-margin {
  margin: 0 ! important;
}

.no-padding {
  padding: 0 ! important;
}

.padding-bottom {
  padding-bottom: 10px;
}

.spacer-top:not(:last-child) {
  margin-top: 5px ! important;
}

.spacer-bottom:not(:last-child) {
  margin-bottom: 5px ! important;
}

// Element Styles
pre.console {
  background-color: #222;
  color: #f1f1f1;
  font-family: 'Source Code Pro', @font-family-monospace;
  font-size: 12px;
}

// Animations
@-webkit-keyframes bouncedelay {
  0% {
    transform: scale(0);
  }

  80%{
    transform: scale(0);
  }

  100%{
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}

@keyframes bouncedelay {
  0% {
    transform: scale(0);
  }

  80%{
    transform: scale(0);
  }

  100%{
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}

@-webkit-keyframes rotation {
  0% {
    transform: rotateZ(0deg);
  }

  45%{
    transform: rotateZ(180deg);
  }

  55% {
    transform: rotateZ(180deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes rotation {
  0% {
    transform: rotateZ(0deg);
  }

  45%{
    transform: rotateZ(180deg);
  }

  55% {
    transform: rotateZ(180deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

.loading-indicator , .loading-indicator-white {
  display: inline-block;
  vertical-align: middle;
  & i {
    -webkit-animation: bouncedelay 1.3s infinite linear;
    animation: bouncedelay 1.3s infinite linear;
    background-color: @text-color;
    border-radius: 50%;
    display: inline-block;
    height: 8px;
    line-height: 0;
    position: relative;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    width: 8px;
    .loading-indicator-white & {
      background-color: @gray-lighter
    }

    &:nth-child(2) {
      -moz-animation-delay: 0.3s;
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s;
    }

    &:nth-child(3) {
      -moz-animation-delay: 0.6s;
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s;
    }
  }
}

.status-icon {
  height: 14px;
  line-height: 0;
  margin-right: 0.5em;
  width: 13px;
  * {
    stroke-width: 2px;
  }

  .is-rotating {
    -webkit-animation: rotation 3s infinite ease;
    animation: rotation 3s infinite ease;
    height: 18px;
    line-height: 1.1;
    text-align: center;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    width: 17px;
    will-change: transform;
    .circle {
      border: 1px solid @text-color;
      border-radius: 50%;
      display: inline-block;
      height: 5px;
      transform-origin: center center 0;
      vertical-align: middle;
      width: 5px;
    }
  }

  &.queued {
    height: 19px;
    .circle {
      border-color: @brand-primary;
    }
  }
}

