// GLOBAL STYLES
//--------------------------------------------------

@import url(fonts.css);

// Bootstrap - Panel
.panel-default {
  border: 1px solid @panel-default-border;
  border-radius: 2px;
  .box-shadow (~"0 1px 1px rgba(0, 0, 0, 0.05)");
  .panel-heading {
    background-color: @panel-default-heading-bg;
    .border-top-radius (2px);
    .box-shadow (~"0 -2px 0 rgba(0, 0, 0, 0.05) inset");
    border-bottom: 1px solid @panel-default-border;
    color: #333333;
  }

  .panel-footer {
    background-color: #ffffff;
    .border-bottom-radius (2px);
    border-top: 1px solid @panel-default-border;
  }
}
