<div id="login">
	<form novalidate (ngSubmit)="onSubmit(form)" [formGroup]="form">
		<fieldset>
			<legend>{{'login.headline' | translate}}</legend>
			<div class="row mb-2">
				<label for="username" class="col-sm-2 control-label">{{ 'user.name' | translate }}</label>
				<div class="col-sm-10">
					<input formControlName="username" type="text" id="username" autocapitalize="off" autocorrect="off" autofocus placeholder="{{ 'user.name' | translate }}"
						tabindex="1" class="form-control" [ngClass]="{'is-invalid': invalidCredentials || form.controls.username.dirty && form.controls.username.errors}"
					>
				</div>
			</div>
			<div class="row mb-2">
				<label for="password" class="col-sm-2 control-label">{{ 'user.password' | translate }}</label>
				<div class="col-sm-10">
					<input formControlName="password" type="password" id="password" placeholder="{{ 'user.password' | translate }}" tabindex="2" class="form-control"
						[ngClass]="{'is-invalid': invalidCredentials || form.controls.password.dirty && form.controls.password.errors}"
					>
				</div>
			</div>
		</fieldset>
		<div class="form-actions">
			<input type="submit" class="btn btn-primary pull-right" value="{{ 'button.login' | translate }}" [disabled]="!form.valid">
			<div class="clearfix"></div>
		</div>
	</form>
</div>