<div *ngIf="parameter && type">
    <ng-template #paramBuilder let-i="i" let-type="type" let-param="param">
        <ng-container formGroupName="parameter">
            <ng-container *ngIf="param.type === 'boolean'">
                <div *ngIf="param.defaultValue !== 'auto'" class="custom-control custom-switch mt-2">
                    <input type="checkbox" class="custom-control-input"
                        [id]="'output-' + i + '-' + type + '-' + param.name" [formControlName]="param.name">
                    <label class="custom-control-label"
                        [attr.for]="'output-' + i + '-' + type + '-' + param.name">{{ param.description }}</label>
                </div>
                <div class="row" *ngIf="param.defaultValue === 'auto'">
                    <label class="col-form-label col-12">{{ param.description }}</label>
                    <div class="col-12">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input class="custom-control-input" type="radio"
                                [id]="'output-' + i + '-' + type + '-' + param.name + '-auto'"
                                [formControlName]="param.name" value="auto">
                            <label class="custom-control-label"
                                [attr.for]="'output-' + i + '-' + type + '-' + param.name + '-auto'">{{ 'settings.auto' | translate }}</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input class="custom-control-input" type="radio"
                                [id]="'output-' + i + '-' + type + '-' + param.name + '-true'"
                                [formControlName]="param.name" [value]="true">
                            <label class="custom-control-label"
                                [attr.for]="'output-' + i + '-' + type + '-' + param.name + '-true'">{{ 'general.boolean.true' | translate }}</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input class="custom-control-input" type="radio"
                                [id]="'output-' + i + '-' + type + '-' + param.name + '-false'"
                                [formControlName]="param.name" [value]="false">
                            <label class="custom-control-label"
                                [attr.for]="'output-' + i + '-' + type + '-' + param.name + '-false'">{{ 'general.boolean.false' | translate }}</label>
                        </div>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="param.type === 'string'">
                <label [attr.for]="'output-' + i + '-' + type + '-' + param.name">{{ param.description }}</label>
                <input type="text" class="form-control" [id]="'output-' + i + '-' + type + '-' + param.name"
                    [formControlName]="param.name"
                    [ngClass]="{'is-invalid':parameter.controls[param.name].errors && parameter.controls[param.name].dirty}">
            </ng-container>

            <ng-container *ngIf="param.type === 'int' || param.type === 'float'">
                <ng-container *ngIf="!param.values">
                    <label [attr.for]="'output-' + i + '-' + type + '-' + param.name">{{ param.description }}</label>
                    <input type="number" class="form-control" [id]="'output-' + i + '-' + type + '-' + param.name"
                        [formControlName]="param.name" [attr.min]="param.fromValue" [attr.max]="param.toValue"
                        [ngClass]="{'is-invalid':parameter.controls[param.name].errors && parameter.controls[param.name].dirty}">
                </ng-container>

                <ng-container *ngIf="param.values">
                    <label [attr.for]="'output-' + i + '-' + type + '-' + param.name">{{ param.description }}</label>
                    <select class="form-control custom-select" [id]="'output-' + i + '-' + type + '-' + param.name"
                        [formControlName]="param.name"
                        [ngClass]="{'is-invalid':parameter.controls[param.name].errors && parameter.controls[param.name].dirty}">
                        <option [value]="param.defaultValue">
                            {{ 'settings.default' | translate }}
                        </option>
                        <option *ngFor="let v of param.values" [value]="v.name">
                            {{ v.description || v.name }}</option>
                    </select>
                </ng-container>
            </ng-container>
        </ng-container>
    </ng-template>

    <fieldset formGroupName="parameter" *ngIf="selectedEncoder.parameters.length > 0">
        <legend><a data-toggle="collapse" [href]="'#extendedSettings-' + type + '-' + index" role="button"
                aria-expanded="false"
                [attr.aria-controls]="'extendedSettings-' + type + '-' + index">{{ 'settings.extended' | translate }}</a>
        </legend>
        <div class="collapse" [id]="'extendedSettings-' + type + '-' + index"
            *ngFor="let param of selectedEncoder.parameters">
            <div class="form-group" *ngIf="['preset', 'tune', 'profile', 'level'].indexOf(param.name) === -1">
                <ng-container *ngTemplateOutlet="paramBuilder,context:{i: index, type: 'video', param: param}">
                </ng-container>
            </div>
        </div>
    </fieldset>
</div>