<div *ngIf="output && type" [formGroup]="output">
    <!-- templates -->
    <ng-template #codecSelect let-index="index" let-type="type">
        <div class="form-group">
            <label [attr.for]="'output-' + index + '-' + type + '-codec'">{{ 'settings.codec' | translate }}</label>
            <select class="form-control custom-select" [id]="'output-' + index + '-' + type + '-codec'"
                formControlName="codec" (change)="onCodecChange()">
                <option [value]="''">{{ 'general.pleaseSelect' | translate }}</option>
                <ng-container *ngFor="let cgrp of selectedFormat.audio">
                    <ng-container *ngIf="cgrp">
                        <optgroup *ngIf="cgrp.encoders?.encoder.length &gt; 1" [label]="cgrp.description">
                            <option *ngFor="let enc of cgrp.encoders.encoder" [value]="enc.name">
                                {{ enc.description }} ({{ enc.name }})
                            </option>
                        </optgroup>
                        <option *ngIf="cgrp.encoders?.encoder.length &lt;= 1" [value]="cgrp.name">
                            {{ cgrp.description }}
                        </option>
                    </ng-container>
                </ng-container>
            </select>
        </div>
    </ng-template>
    <!-- templates -->

    <fieldset class="border border-top-0 p-2">
        <ng-container *ngTemplateOutlet="codecSelect,context:{index: index, type: 'audio'}">
        </ng-container>

        <ng-container *ngIf="selectedEncoder">
            <div *ngIf="selectedEncoder.sampleRates" class="form-group">
                <label for="output-{{ index }}-audio-samplerate">{{ 'settings.samplerate' | translate }}</label>
                <select class="form-control custom-select" [id]="'output-' + index + '-audio-samplerate'"
                    formControlName="samplerate"
                    [ngClass]="{'is-invalid':output.controls.samplerate.errors}">
                    <option [value]="null">{{ 'settings.auto' | translate }}
                    </option>
                    <option *ngFor="let sr of selectedEncoder.sampleRates" [value]="sr">
                        {{ sr }} Hz</option>
                </select>
            </div>

            <div class="form-group">
                <label for="output-{{ index }}-audio-bitrate">{{ 'settings.bitrate' | translate }}</label>
                <select class="form-control custom-select" [id]="'output-' + index + '-audio-bitrate'"
                    formControlName="bitrate"
                    [ngClass]="{'is-invalid':output.controls.bitrate.errors}">
                    <option [value]="null">{{ 'settings.auto' | translate }}
                    </option>
                    <option *ngFor="let br of audioBitrates" [value]="br">
                        {{ br }}k</option>
                </select>
            </div>
        </ng-container>

        <ui-settings-extended [settings]="settings" [selectedEncoder]="selectedEncoder" [index]="index"
            [type]="'audio'">
        </ui-settings-extended>
    </fieldset>
</div>