<div id="settings">
    <ui-view>
        <form novalidate [formGroup]="form" (ngSubmit)="onSubmit(form)">
            <!-- templates -->
            <ng-template #codecSelect let-i="i" let-type="type">
                <ng-container formArrayName="output">
                    <ng-container [formArrayName]="i">
                        <div class="form-group" [formArrayName]="type">
                            <label
                                [attr.for]="'output-' + i + '-' + type + '-codec'">{{ 'settings.codec' | translate }}</label>
                            <select class="form-control custom-select" [id]="'output-' + i + '-' + type + '-codec'"
                                formControlName="codec" (change)="onCodecChange(i, type)"
                                [ngClass]="{'is-invalid':output.controls[i].controls[type].controls.codec.errors && output.controls[i].controls[type].controls.codec.dirty}">
                                <ng-container *ngFor="let cgrp of selectedFormat[i][type]">
                                    <ng-container *ngIf="cgrp">
                                        <optgroup *ngIf="cgrp.encoders?.encoder.length &gt; 1"
                                            [label]="cgrp.description">
                                            <option *ngFor="let enc of cgrp.encoders.encoder" [value]="enc.name">
                                                {{ enc.description }} ({{ enc.name }})
                                            </option>
                                        </optgroup>
                                        <option *ngIf="cgrp.encoders?.encoder.length &lt;= 1" [value]="cgrp.name">
                                            {{ cgrp.description }}
                                        </option>
                                    </ng-container>
                                </ng-container>
                            </select>
                        </div>
                    </ng-container>
                </ng-container>
            </ng-template>

            <ng-template #paramBuilder let-i="i" let-type="type" let-param="param">
                <ng-container formArrayName="output">
                    <ng-container [formArrayName]="i">
                        <ng-container [formArrayName]="type">
                            <ng-container formArrayName="parameter">
                                <ng-container *ngIf="param.type === 'boolean'">
                                    <div *ngIf="param.defaultValue !== 'auto'"
                                        class="custom-control custom-switch mt-2">
                                        <input type="checkbox" class="custom-control-input"
                                            [id]="'output-' + i + '-' + type + '-' + param.name"
                                            [formControlName]="param.name" [checked]="param.defaultValue === 'true'">
                                        <label class="custom-control-label"
                                            [attr.for]="'output-' + i + '-' + type + '-' + param.name">{{ param.description }}</label>
                                    </div>
                                    <div class="row" *ngIf="param.defaultValue === 'auto'">
                                        <label class="col-form-label col-12">{{ param.description }}</label>
                                        <div class="col-12">
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input class="custom-control-input" type="radio"
                                                    [id]="'output-' + i + '-' + type + '-' + param.name + '-auto'"
                                                    [formControlName]="param.name" value="auto">
                                                <label class="custom-control-label"
                                                    [attr.for]="'output-' + i + '-' + type + '-' + param.name + '-auto'">{{ 'settings.auto' | translate }}</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input class="custom-control-input" type="radio"
                                                    [id]="'output-' + i + '-' + type + '-' + param.name + '-true'"
                                                    [formControlName]="param.name" [value]="true">
                                                <label class="custom-control-label"
                                                    [attr.for]="'output-' + i + '-' + type + '-' + param.name + '-true'">{{ 'general.boolean.true' | translate }}</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input class="custom-control-input" type="radio"
                                                    [id]="'output-' + i + '-' + type + '-' + param.name + '-false'"
                                                    [formControlName]="param.name" [value]="false">
                                                <label class="custom-control-label"
                                                    [attr.for]="'output-' + i + '-' + type + '-' + param.name + '-false'">{{ 'general.boolean.false' | translate }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>

                                <ng-container *ngIf="param.type === 'string'">
                                    <label
                                        [attr.for]="'output-' + i + '-' + type + '-' + param.name">{{ param.description }}</label>
                                    <input type="text" class="form-control"
                                        [id]="'output-' + i + '-' + type + '-' + param.name"
                                        [formControlName]="param.name"
                                        [ngClass]="{'is-invalid':output.controls[i].controls[type].controls.parameter.controls[param.name].errors && output.controls[i].controls[type].controls.parameter.controls[param.name].dirty}">
                                </ng-container>

                                <ng-container *ngIf="param.type === 'int' || param.type === 'float'">
                                    <ng-container *ngIf="!param.values">
                                        <label
                                            [attr.for]="'output-' + i + '-' + type + '-' + param.name">{{ param.description }}</label>
                                        <input type="number" class="form-control"
                                            [id]="'output-' + i + '-' + type + '-' + param.name"
                                            [formControlName]="param.name" [attr.min]="param.fromValue"
                                            [attr.max]="param.toValue"
                                            [ngClass]="{'is-invalid':output.controls[i].controls[type].controls.parameter.controls[param.name].errors && output.controls[i].controls[type].controls.parameter.controls[param.name].dirty}">
                                    </ng-container>

                                    <ng-container *ngIf="param.values">
                                        <label
                                            [attr.for]="'output-' + i + '-' + type + '-' + param.name">{{ param.description }}</label>
                                        <select class="form-control custom-select"
                                            [id]="'output-' + i + '-' + type + '-' + param.name"
                                            [formControlName]="param.name"
                                            [ngClass]="{'is-invalid':output.controls[i].controls[type].controls.parameter.controls[param.name].errors && output.controls[i].controls[type].controls.parameter.controls[param.name].dirty}">
                                            <option [value]="param.defaultValue">
                                                {{ 'settings.default' | translate }}
                                            </option>
                                            <option *ngFor="let v of param.values" [value]="v.name">
                                                {{ v.description || v.name }}</option>
                                        </select>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </ng-template>
            <!-- templates -->

            <ngb-tabset #t="ngbTabset">
                <ngb-tab formArrayName="output" *ngFor="let o of output.controls; let i = index;"
                    [id]="'tab-output-' + i" [title]="'settings.outputLabel' | translate:{ index: i + 1 }">
                    <ng-template ngbTabContent>
                        <fieldset [formGroupName]="i" class="border border-top-0 p-2">
                            <div class="form-group">
                                <label for="output-format-{{ i }}">{{ 'settings.format' | translate }}</label>
                                <select class="form-control custom-select" [id]="'output-format-' + i"
                                    formControlName="format" (change)="onFormatChange(i)"
                                    [ngClass]="{'is-invalid':output.controls[i].controls.format.errors && output.controls[i].controls.format.dirty}">
                                    <option *ngFor="let format of allowedFormats" [value]="format.name">
                                        {{ format.description }}
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label
                                    for="output-fileappendix-{{ i }}">{{ 'settings.filenameAppendix' | translate }}</label>
                                <input type="text" class="form-control" [id]="'output-fileappendix-' + i"
                                    formControlName="filenameAppendix"
                                    placeholder="{{ 'settings.output.filenameAppendix' | translate }}"
                                    [ngClass]="{'is-invalid':output.controls[i].controls.filenameAppendix.errors && output.controls[i].controls.filenameAppendix.dirty}">
                            </div>

                            <ng-container *ngIf="selectedFormat[i]">
                                <ngb-tabset #t="ngbTabset">
                                    <ngb-tab formArrayName="video" [id]="'tab-output-' + i + '-video'"
                                        [title]="'settings.video' | translate">
                                        <ng-template ngbTabContent>
                                            <ui-settings-video [selectedFormat]="selectedFormat[i]" [index]="i"
                                                [type]="'video'">
                                            </ui-settings-video>
                                            <fieldset class="border border-top-0 p-2">
                                                <ng-container
                                                    *ngTemplateOutlet="codecSelect,context:{i: i, type: 'video'}">
                                                </ng-container>

                                                <ng-container *ngIf="selectedEncoder[i] && selectedEncoder[i].video">
                                                    <!-- templates - video -->
                                                    <ng-template #videoParameterSelect let-index="index" let-type="type"
                                                        let-defaults="defaults">
                                                        <ng-container formGroupName="parameter">
                                                            <label
                                                                for="output-{{ i }}-video-{{ type }}">{{ 'settings.' + type | translate }}</label>
                                                            <select class="form-control custom-select"
                                                                [id]="'output-' + index + '-video-' + type"
                                                                [formControlName]="type"
                                                                [ngClass]="{'is-invalid':output.controls[index].controls.video.controls.parameter.controls[type].errors && output.controls[index].controls.video.controls.parameter.controls[type].dirty}">
                                                                <option [value]="null">{{ 'settings.auto' | translate }}
                                                                </option>
                                                                <option
                                                                    *ngFor="let p of filterParameter(selectedEncoder[index].video.parameters, type)?.values || defaults || []"
                                                                    [value]="p.name">
                                                                    {{ p.description || p.name }}</option>
                                                            </select>
                                                        </ng-container>
                                                    </ng-template>
                                                    <!-- templates - video -->

                                                    <div class="form-group row" formGroupName="parameter"
                                                        *ngIf="filterParameter(selectedEncoder[i].video.parameters, 'profile') && filterParameter(selectedEncoder[i].video.parameters, 'level')">
                                                        <div class="col-12 col-md-6">
                                                            <ng-container
                                                                *ngTemplateOutlet="videoParameterSelect,context:{index: i, type: 'profile', defaults: profiles}">
                                                            </ng-container>
                                                        </div>

                                                        <div class="col-12 col-md-6">
                                                            <ng-container
                                                                *ngTemplateOutlet="videoParameterSelect,context:{index: i, type: 'level', defaults: levels}">
                                                            </ng-container>
                                                        </div>
                                                    </div>

                                                    <div class="form-group"
                                                        *ngIf="filterParameter(selectedEncoder[i].video.parameters, 'preset')">
                                                        <ng-container
                                                            *ngTemplateOutlet="videoParameterSelect,context:{index: i, type: 'preset', defaults: presets[selectedEncoder[i].video.name]}">
                                                        </ng-container>
                                                    </div>

                                                    <div class="form-group" formGroupName="parameter"
                                                        *ngIf="filterParameter(selectedEncoder[i].video.parameters, 'tune')">
                                                        <ng-container
                                                            *ngTemplateOutlet="videoParameterSelect,context:{index: i, type: 'tune', defaults: tunes[selectedEncoder[i].video.name]}">
                                                        </ng-container>
                                                    </div>

                                                    <div *ngIf="selectedEncoder[i].video.pixelFormats"
                                                        class="form-group">
                                                        <label
                                                            for="output-{{ i }}-video-pixelformat">{{ 'settings.pixelFormat' | translate }}</label>
                                                        <select class="form-control custom-select"
                                                            [id]="'output-' + i + '-video-pixelformat'"
                                                            formControlName="pixelFormat"
                                                            [ngClass]="{'is-invalid':output.controls[i].controls.video.controls.pixelFormat.errors && output.controls[i].controls.video.controls.pixelFormat.dirty}">
                                                            <option [value]="null">{{ 'settings.auto' | translate }}
                                                            </option>
                                                            <option
                                                                *ngFor="let pf of selectedEncoder[i].video.pixelFormats"
                                                                [value]="pf">
                                                                {{ pf }}</option>
                                                        </select>
                                                    </div>

                                                    <div class="form-group">
                                                        <label
                                                            for="output-{{ i }}-video-scale">{{ 'settings.scale' | translate }}</label>
                                                        <select class="form-control custom-select"
                                                            [id]="'output-' + i + '-video-scale'"
                                                            formControlName="scale"
                                                            [ngClass]="{'is-invalid':output.controls[i].controls.video.controls.scale.errors && output.controls[i].controls.video.controls.scale.dirty}">
                                                            <option [value]="null">{{ 'settings.auto' | translate }}
                                                            </option>
                                                            <option *ngFor="let s of scales" [value]="s.value">
                                                                {{ s.name }}</option>
                                                        </select>

                                                        <div class="custom-control custom-switch mt-2">
                                                            <input type="checkbox" class="custom-control-input"
                                                                [id]="'output-' + i + '-video-upcale'"
                                                                formControlName="upscale">
                                                            <label class="custom-control-label"
                                                                [attr.for]="'output-' + i + '-video-upcale'">{{ 'settings.allowUpscale' | translate }}</label>
                                                        </div>
                                                    </div>
                                                </ng-container>

                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label
                                                                for="output-{{ i }}-video-framerate">{{ 'settings.framerate' | translate }}</label>
                                                            <select class="form-control custom-select"
                                                                [id]="'output-' + i + '-video-framerate'"
                                                                formControlName="framerate"
                                                                [ngClass]="{'is-invalid':output.controls[i].controls.video.controls.framerate.errors && output.controls[i].controls.video.controls.framerate.dirty}">
                                                                <option [value]="null">
                                                                    {{ 'settings.asSource' | translate }}
                                                                </option>
                                                                <option *ngFor="let fps of framerates" [value]="fps">
                                                                    {{ fps }}</option>
                                                            </select>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="custom-control custom-radio">
                                                                <input class="custom-control-input" type="radio"
                                                                    [id]="'output-' + i + '-video-framerateType-vfr'"
                                                                    formControlName="framerateType" value="VFR">
                                                                <label class="custom-control-label"
                                                                    [attr.for]="'output-' + i + '-video-framerateType-vfr'">{{ 'settings.framerateType.VFR' | translate }}</label>
                                                            </div>
                                                            <div class="custom-control custom-radio">
                                                                <input class="custom-control-input" type="radio"
                                                                    [id]="'output-' + i + '-video-framerateType-cfr'"
                                                                    formControlName="framerateType" value="CFR">
                                                                <label class="custom-control-label"
                                                                    [attr.for]="'output-' + i + '-video-framerateType-cfr'">{{ 'settings.framerateType.CFR' | translate }}</label>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label
                                                                [attr.for]="'output-' + i + '-video-forceKeyFrames'">{{ 'settings.forceKeyFrames' | translate }}</label>
                                                            <div class="input-group">
                                                                <input [id]="'output-' + i + '-video-forceKeyFrames'"
                                                                    type="number" class="form-control"
                                                                    formControlName="forceKeyFrames">
                                                                <div class="input-group-append">
                                                                    <span
                                                                        class="input-group-text">{{ 'settings.secondsAbbr' | translate }}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4" formGroupName="quality">
                                                        <label>{{ 'settings.quality.label' | translate }}</label>
                                                        <div class="form-group">
                                                            <div class="custom-control custom-radio">
                                                                <input class="custom-control-input" type="radio"
                                                                    [id]="'output-' + i + '-video-qType-cq'"
                                                                    formControlName="type" value="CQ"
                                                                    (change)="onQualityTypeChange(i)">
                                                                <label class="custom-control-label"
                                                                    [attr.for]="'output-' + i + '-video-qType-cq'">{{ 'settings.quality.type.CQ' | translate }}</label>
                                                                <div class="input-group">
                                                                    <input type="range" class="custom-range" min="0"
                                                                        max="31" formControlName="rateFactor">
                                                                </div>
                                                            </div>

                                                            <div class="custom-control custom-radio">
                                                                <input class="custom-control-input" type="radio"
                                                                    [id]="'output-' + i + '-video-qType-abr'"
                                                                    formControlName="type" value="ABR"
                                                                    (change)="onQualityTypeChange(i)">
                                                                <label class="custom-control-label"
                                                                    [attr.for]="'output-' + i + '-video-qType-abr'">{{ 'settings.quality.type.ABR' | translate }}</label>
                                                                <div class="input-group">
                                                                    <input [id]="'output-' + i + '-video-bitrate'"
                                                                        type="number" class="form-control"
                                                                        formControlName="bitrate">
                                                                    <div class="input-group-append">
                                                                        <span class="input-group-text">kbps</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4" formGroupName="quality">
                                                        <div class="form-group">
                                                            <label
                                                                [attr.for]="'output-' + i + '-video-minrate'">{{ 'settings.quality.minrate' | translate }}</label>
                                                            <div class="input-group">
                                                                <input [id]="'output-' + i + '-video-minrate'"
                                                                    type="number" class="form-control"
                                                                    formControlName="minrate">
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">kbps</span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label
                                                                [attr.for]="'output-' + i + '-video-maxrate'">{{ 'settings.quality.maxrate' | translate }}</label>
                                                            <div class="input-group">
                                                                <input [id]="'output-' + i + '-video-maxrate'"
                                                                    type="number" class="form-control"
                                                                    formControlName="maxrate">
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">kbps</span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label
                                                                [attr.for]="'output-' + i + '-video-bufsize'">{{ 'settings.quality.bufsize' | translate }}</label>
                                                            <div class="input-group">
                                                                <input [id]="'output-' + i + '-video-bufsize'"
                                                                    type="number" class="form-control"
                                                                    formControlName="bufsize">
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">kbps</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>

                                            <fieldset class="mt-2" formGroupName="parameter">
                                                <legend><a data-toggle="collapse" href="#extendedSettings-video-{{ i }}"
                                                        role="button" aria-expanded="false"
                                                        [attr.aria-controls]="'extendedSettings-video-' + i">{{ 'settings.extended' | translate }}</a>
                                                </legend>
                                                <div class="collapse" [id]="'extendedSettings-video-' + i"
                                                    *ngFor="let param of selectedEncoder[i].video.parameters">
                                                    <div class="form-group"
                                                        *ngIf="['preset', 'tune', 'profile', 'level'].indexOf(param.name) === -1">
                                                        <ng-container
                                                            *ngTemplateOutlet="paramBuilder,context:{i: i, type: 'video', param: param}">
                                                        </ng-container>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </ng-template>
                                    </ngb-tab>

                                    <ngb-tab formArrayName="audio" [id]="'tab-output-' + i + '-audio'"
                                        [title]="'settings.audio' | translate">
                                        <ng-template ngbTabContent>
                                            <fieldset class="border border-top-0 p-2">
                                                <ng-container
                                                    *ngTemplateOutlet="codecSelect,context:{i: i, type: 'audio'}">
                                                </ng-container>

                                                <ng-container *ngIf="selectedEncoder[i] && selectedEncoder[i].audio">
                                                    <div *ngIf="selectedEncoder[i].audio.sampleRates"
                                                        class="form-group">
                                                        <label
                                                            for="output-{{ i }}-audio-samplerate">{{ 'settings.samplerate' | translate }}</label>
                                                        <select class="form-control custom-select"
                                                            [id]="'output-' + i + '-audio-samplerate'"
                                                            formControlName="samplerate"
                                                            [ngClass]="{'is-invalid':output.controls[i].controls.audio.controls.samplerate.errors && output.controls[i].controls.audio.controls.samplerate.dirty}">
                                                            <option [value]="null">{{ 'settings.auto' | translate }}
                                                            </option>
                                                            <option
                                                                *ngFor="let sr of selectedEncoder[i].audio.sampleRates"
                                                                [value]="sr">
                                                                {{ sr }} Hz</option>
                                                        </select>
                                                    </div>

                                                    <div class="form-group">
                                                        <label
                                                            for="output-{{ i }}-audio-bitrate">{{ 'settings.bitrate' | translate }}</label>
                                                        <select class="form-control custom-select"
                                                            [id]="'output-' + i + '-audio-bitrate'"
                                                            formControlName="bitrate"
                                                            [ngClass]="{'is-invalid':output.controls[i].controls.audio.controls.bitrate.errors && output.controls[i].controls.audio.controls.bitrate.dirty}">
                                                            <option [value]="null">{{ 'settings.auto' | translate }}
                                                            </option>
                                                            <option *ngFor="let br of audioBitrates" [value]="br">
                                                                {{ br }}k</option>
                                                        </select>
                                                    </div>
                                                </ng-container>
                                            </fieldset>

                                            <fieldset class="mt-2" formGroupName="parameter">
                                                <legend><a data-toggle="collapse" href="#extendedSettings-audio-{{ i }}"
                                                        role="button" aria-expanded="false"
                                                        [attr.aria-controls]="'extendedSettings-audio-' + i">{{ 'settings.extended' | translate }}</a>
                                                </legend>
                                                <div class="collapse" [id]="'extendedSettings-audio-' + i"
                                                    *ngFor="let param of selectedEncoder[i].audio.parameters">
                                                    <div class="form-group">
                                                        <ng-container
                                                            *ngTemplateOutlet="paramBuilder,context:{i: i, type: 'audio', param: param}">
                                                        </ng-container>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </ng-template>
                                    </ngb-tab>
                                </ngb-tabset>
                            </ng-container>

                            <pre class="pre-scrollable">{{ o.value | json }}</pre>
                        </fieldset>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>

            <div class="d-flex justify-content-end mt-2">
                <button type="submit" class="btn btn-primary mr-1"
                    [disabled]="form.invalid">{{ 'button.save' | translate }}</button>
            </div>
        </form>
        <pre class="pre-scrollable">{{ settings | json}}</pre>
    </ui-view>
</div>